#banner {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-image: url("../../images/Index/banner.jpeg");
}

#banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

#banner {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    #banner {
        padding: 200px 0;
    }
}

#banner {
    text-align: center;
}

#banner h1 {
    font-size: 50px;
    margin-top: 0;
}

#banner .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
    #banner h1 {
        font-size: 80px;
    }
}

#banner h1 {
    font-size: 35px;
}

#banner .meta,
#banner .subheading {
    line-height: 1.1;
    display: block;
}

#banner .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#banner .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: "Lora", "Times New Roman", serif;
}

#banner .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    #banner h1 {
        font-size: 55px;
    }
    #banner .subheading {
        font-size: 30px;
    }
}
